
@font-face {
	font-family: 'NHaasGroteskDSPro-25Th';
	src: url('NHaasGroteskDSPro-25Th.woff2') format('woff2'),
		url('NHaasGroteskDSPro-25Th.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NHaasGroteskDSPro-35';
	src: url('NHaasGroteskDSPro-35.woff2') format('woff2'),
		url('NHaasGroteskDSPro-35.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NHaasGroteskDSPro-55Rg';
	src: url('NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
		url('NHaasGroteskDSPro-55Rg.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NHaasGroteskDSPro-65Bd';
	src: url('NHaasGroteskDSPro-65Bd.woff2') format('woff2'),
		url('NHaasGroteskDSPro-65Bd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('TiemposHeadline-Bold.woff2') format('woff2'),
		url('TiemposHeadline-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}