@font-face {
	
	@font-face {
		font-family: 'NHaasGroteskDSPro-35XLt';
		src: url('/fonts/NHaasGroteskDSPro-35XLt.woff2') format('woff2'),
			url('/fontsNHaasGroteskDSPro-35XLt.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
}

@font-face {
	font-family: 'NHaasGroteskDSPro-55Rg';
	src: url('/fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
		url('/fonts/NHaasGroteskDSPro-55Rg.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'NHaasGroteskDSPro-65Md';
	src: url('/fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
		url('/fonts/NHaasGroteskDSPro-65Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/fonts/TiemposHeadline-Bold.woff2') format('woff2'),
		url('/fonts/TiemposHeadline-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}